.About {
    text-align: center;
}

.About h2 {
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: underline;
}

.About ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 32px;
}

.About ul li {
    align-items: center;
    margin: 25px 0 0 0;
    font-family: Didot, serif;
    letter-spacing: 10px;
}

.About img {
    border: 2px solid white;
    border-radius: 50px;
    padding: 30px;
    width: 400px;
    vertical-align: middle;
}

.img--left {
    margin-right: 70px;
}

.img--right {
    margin-left: 70px;
}

#arizona {
    background-color: white;
    padding: 40px 20px 40px 20px;
}

#computer {
    width: 150px;
    background-color: white;
}