.App {
  text-align: center;
}

.App-navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333
}

.App-navbar li {
  float: left;
  width: 25%
}

.App-navbar li button {
  width: 100%;
  display: block;
  padding: 14px 16px;
  border: 1px solid gray;
  
  color: white;
  background-color: #333;
  font-size: 24px;
  font-family: Didot, serif;
  text-decoration: none;
}

.App-navbar li button:hover {
  background-color: lightgray;
}


