.projects {
    display: table;
    width: 100%;
}

.projects h1 {
    margin-bottom: 10px;
}

.projectTable {
    height: auto;
    width: 97%;
    margin: 0 10px 10px 20px;
}

.projectTable, td, tr {
    border: 5px solid #797d85;
    border-collapse: collapse;
}

.projectTable td{
    width: 50%;
    padding: 8px;
    vertical-align: top;
}